@font-face {
    font-family: MontserratMedium;
    src: url(../Font/Montserrat/Montserrat-Medium.ttf);

}

@font-face {
    font-family: MontserratBold;
    src: url(../Font/Montserrat/Montserrat-SemiBold.ttf);

}

body {
    background-color: #e0e0e0;
    font-family: 'MontserratMedium', sans-serif;
}

.box {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    margin: 20px;
    padding: 25px;

}

img {
    width: 120px;
}

.navbar {
    background-color: #e0e0e0;
}

.navbar .container .navbar-brand {
    font-family: 'MontserratBold', sans-serif;
    /* color: #21409A; */
    color: black;
}

.navbar .nav-item .nav-link {
    font-family: 'MontserratMedium', sans-serif;
    /* color: #21409A; */
    color: black;
    opacity: 1;
}